.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}
.logo-link {
  text-decoration: none;
  color: white;
}

.mat-toolbar {
  display: flex;
  justify-content: space-between;
}


.content {
  padding: 16px;
}

.reg-link {
  color: black;
  border: 2px solid blue !important;
  background: white;
  margin: 5px !important;
}

.icon-reg-menu {
  text-align: center;
  width: 28px;
  height: 26px;
  border-radius: 50%;
  background: white;
  color: black;
  margin-bottom: 5px;
}

.user-menu {
  display: flex;
  width: 200px;
  justify-content: center;
  border: 2px solid #24c3be;
  background: #1c1c1c;
  margin: 5px 25px;
  border-radius: 15px 0 15px 0;
  box-shadow: 0 0 5px 3px #24c3be inset;
}



