mat-dialog-content
  height: 500px

.title
  font-size: 30px
  font-weight: 700
  font-style: italic
  text-transform: capitalize

.img
  width: 900px!important
  height: 400px

.button
  margin: 0 auto
