<mat-progress-spinner
  *ngIf="(loading | async) else photoArea"
  mode="indeterminate"
></mat-progress-spinner>

<div class="error" *ngIf="error | async">
  {{ error | async }}
</div>

<ng-template #photoArea>
  <h2 class="title" mat-dialog-title *ngIf="photoData?.title">{{ photoData.title }}</h2>
  <mat-dialog-content class="mat-typography">
    <img class="img" *ngIf="photoData?.image" [src]="api + '/uploads/' + photoData?.image" [alt]="photoData?.title">
    <mat-dialog-actions align="end">
      <button class="button" mat-raised-button color="primary" mat-dialog-close>Cancel</button>
    </mat-dialog-actions>
  </mat-dialog-content>
</ng-template>

