<div class="error" *ngIf="createError | async">
  {{ createError | async }}
</div>

<div class="form-wrapper">
  <mat-card class="form-block">
    <mat-card-title>Add new photo</mat-card-title>
    <mat-card-content>
      <form #form="ngForm" autocomplete="off" (ngSubmit)="onSubmit()" class="reg-form">
      <mat-form-field appearance="outline">
        <mat-label>Picture name</mat-label>
        <input
          type="text" name="title"
          required matInput ngModel #title="ngModel"
        />
        <mat-error
          *ngIf="title.touched && title.hasError('required')"
        >Picture name is required!
        </mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Photo</mat-label>
        <app-file-input required name="image" ngModel #image="ngModel"></app-file-input>
      </mat-form-field>
        <mat-error
          *ngIf="image.touched && image.hasError('required')"
        >Picture name is required!
        </mat-error>
      <div fxLayout="column" fxLayoutAlign="center">
        <button
          type="submit"
          mat-raised-button
          color="primary"
          [disabled]="form.invalid"
        >Save
        </button>
      </div>
      </form>
    </mat-card-content>
        <mat-progress-bar *ngIf="loading | async" mode="indeterminate"></mat-progress-bar>
  </mat-card>
</div>
