<div class="form-wrapper">
  <mat-card class="form-block">
    <mat-card-title>Register</mat-card-title>
    <mat-card-content>
      <form #form="ngForm" autocomplete="off" (ngSubmit)="onSubmit()" class="reg-form"
            [appPassword]="['password', 'passwordRepeat']">
        <mat-form-field appearance="outline">
          <mat-label>Email</mat-label>
          <input
            type="email" name="email" autocomplete="username"
            email required matInput ngModel #email="ngModel"
          />
          <mat-error
           *ngIf="email.touched && email.hasError('required')"
          >Email is required!
          </mat-error>
          <mat-error
           *ngIf="email.touched && email.hasError('email')"
          >Wrong email address!
          </mat-error>
        </mat-form-field>
        <mat-error
          *ngIf="email.touched && email.hasError('serverError')"
        >{{  email.getError('serverError') }}</mat-error>
        <mat-form-field appearance="outline">
          <mat-label>Display name</mat-label>
          <input
            type="text" name="name" autocomplete="username"
            required matInput ngModel #name="ngModel"
          />
          <mat-error
            *ngIf="name.touched && name.hasError('required')"
          >Display name is required!
          </mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Password</mat-label>
          <input
            type="password" name="password" autocomplete="new-password"
            required matInput ngModel #password="ngModel"
          />
          <mat-error
            *ngIf="password.touched && password.hasError('required')"
          >Password is required!
          </mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Repeat password</mat-label>
          <input
            type="password" name="passwordRepeat" autocomplete="new-password"
            required matInput ngModel #passwordRepeat="ngModel"
          />
          <mat-error
           *ngIf="passwordRepeat.touched && passwordRepeat.hasError('required')"
          >Repeat password is required!
          </mat-error>
        </mat-form-field>
        <mat-error
          *ngIf="passwordRepeat.touched && form.errors?.['identical']"
        >Passwords should match!
        </mat-error>
        <div fxLayout="column" fxLayoutAlign="center">
          <button
            type="submit"
            mat-raised-button
            color="primary"
            [disabled]="form.invalid"
          >REGISTER
          </button>
          <button
            type="button"
            mat-raised-button
            color="default"
            class="btn-link-fb"
            (click)="fbLogin()"
          >
            <img src="assets/icons/fb-icon.svg" alt="facebook logo" class="icon-fb">
            REGISTER WITH FACEBOOK
          </button>
        </div>
      </form>
    </mat-card-content>
    <mat-progress-bar *ngIf="loading | async" mode="indeterminate"></mat-progress-bar>
    <mat-progress-bar *ngIf="loadingFb | async" mode="indeterminate"></mat-progress-bar>
  </mat-card>
</div>
