/* You can add global styles to this file, and also import other style files */

.error
  background-color: #f44336
  padding: 20px
  color: white
  margin-bottom: 15px
  text-align: center
  border-radius: 2px

.card
  border: 1px solid lightskyblue
  &:hover
    box-shadow: 0px 0px 13px 0px lightskyblue

mat-card-header, mat-card-actions
  display: flex!important
  justify-content: center

.card-title
  margin: 0
  padding-right: 30px
