.top-block
  padding: 20px
  &__title
    font-size: 30px
    font-weight: 700
    font-style: italic

.empty-block
  text-align: center
  padding-top: 100px
  &__title
    font-size: 30px
    font-weight: 700
    font-style: italic
    line-height: 1.3






