<div fxLayout="row" fxLayoutAlign="space-between center" class="top-block">
  <h2 class="top-block__title">{{ photoUserName? photoUserName + ' gallery' : 'Your gallery' }}</h2>
  <button mat-raised-button color="primary" [routerLink]="['/create-new-photo']" *ngIf="userId === photoUserId">Add photo</button>
</div>

<div class="empty-block" *ngIf="!photoUserName else gallery">
  <h3 class="empty-block__title">It's empty here <br /> Add your photos in one click!</h3>
</div>

<div class="error" *ngIf="error | async">
  {{ error | async }}
</div>

<ng-template #gallery>
  <mat-progress-spinner
    *ngIf="(loading | async) else photoArea"
    mode="indeterminate"
  ></mat-progress-spinner>

  <ng-template #photoArea>
    <div fxLayout="row wrap" fxLayoutGap="16px grid">
      <div class="cards-block"
           fxFlex.xs="100%"
           fxFlex.sm="50%"
           fxFlex.lt-lg="33%"
           fxFlex="33%"
           *ngFor="let photo of photos | async"
      >
        <mat-card class="card" (click)="openDialog(photo._id)">
          <img mat-card-image [src]="api + '/uploads/' + photo.image" [alt]="'Photo of ' + photo.title " style="height: 300px">
          <mat-card-header>
            <h2 class="card-title">{{ photo.title }}</h2>
          </mat-card-header>
          <mat-card-actions *ngIf="userId === photoUserId">
            <button
              type="button"
              mat-raised-button
              color="warn"
              (click)="onRemovePhoto(photo._id, $event)"
            >Delete  <span class="material-icons">delete_forever</span></button>
          </mat-card-actions>
          <div *ngIf="(removeLoading | async)">
            <mat-progress-bar *ngIf="photoId === photo._id" mode="indeterminate"></mat-progress-bar>
          </div>
        </mat-card>
      </div>
    </div>
  </ng-template>
</ng-template>
