<div class="error" *ngIf="error | async">
  {{ error | async }}
</div>

<mat-progress-spinner
  *ngIf="(loading | async) else photoArea"
  mode="indeterminate"
></mat-progress-spinner>

<ng-template #photoArea>
  <div fxLayout="row wrap" fxLayoutGap="16px grid">
    <div class="cards-block"
         fxFlex.xs="100%"
         fxFlex.sm="50%"
         fxFlex.lt-lg="33%"
         fxFlex="33%"
         *ngFor="let photo of photos | async"
    >
      <mat-card class="card" (click)="openDialog(photo._id)">
        <img mat-card-image [src]="api + '/uploads/' + photo.image" [alt]="'Photo of ' + photo.title " style="height: 300px">
        <mat-card-header>
          <h2 class="card-title">{{ photo.title }}</h2>
        </mat-card-header>
        <mat-card-actions>
          <button
            type="button"
            mat-raised-button
            color="primary"
            [routerLink]="[photo.user._id, 'my_gallery']"
          >By: {{ photo.user.name }}</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</ng-template>


